<div class="container">
    <h4> Data Customer </h4>
    <hr>
    <!-- menampilkan data customer -->
    <ul class="list-group">
        <!-- forEach -> scanning isi array -->
        <% data.forEach(element=> { %>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg-3">
                        <small class="text-succes">
                            Nama
                        </small> <br>
                        <%= element.nama_customer %>
                    </div>
                    <div class="col-lg-3">
                        <small class="text-succes">
                            Alamat
                        </small> <br>
                        <%= element.alamat %>
                    </div>
                    <div class="col-lg-3">
                        <small class="text-succes">
                            Telepon
                        </small> <br>
                        <%= element.telepon %>
                    </div>
                    <div class="col-lg-3">
                        <small class="text-succes">
                            Opsi
                        </small><br>

                        <a href="/pelanggan/edit/<%= element.id %> ">
                        <button class="btn btn-primary">
                            Edit
                        </button>
                    </a> 
                    <a href="/pelanggan/delete/<%= element.id %>"
                        onclick="return confirm(`Apakah Anda yakin ingin menghapus data ini?`)"> 
                        <button
                            class="btn btn-sm btn-danger"> Hapus
                        </button>
                    </a>
                    </div>

                </div>
            </li>
            <% }) %>
    </ul>
    <!-- button add data Apoteker-->
    <a href="/pelanggan/add">
        <button class="btn btn-md btn-success">
            Add Data
        </button>
    </a>

</div>